<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <h1></h1>
    <p>Welcome to my blog</p>
    <a href="https://drive.google.com/drive/u/0/folders/0Byz0OvC0nzTKM2g2MVNqYTFuQ1k">Download File</a>
    <a href="/blog/add">Add Blog</a>
    <a href="/blog/search">Search Blog</a>
    <a href="/blog/showallblog">Show all Blogs</a>
    <a href="/register">Register</a>
  </body>
</html>