<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <h1></h1>
    <p>Welcome to my Website</p>
    <a href="/signup">Sign up</a>
    <a href="/register">Register</a>
  </body>
</html>