<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>        
        <form class ="" action="" method="post">
            <div className="form-group">
                <br />
                <label >Register</label>
                <input type="text" class="form-control" placeholder="Username" name="username" required/> <br/>
                <input type="password" class="form-control" placeholder="Password" name="password" required/> <br/>
            </div>
            <div class="text-center">
                <input class="btn btn-dark col-6 mx-auto" type="submit" value="Login" />
            </div>
        </form>
</div> 
  </body>
</html>
