<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <h1>ยอมจ่ายมาดีๆไอน้อง อย่าให้พี่ต้องใช้กำลัง</h1>        
        <img src = "data:image/jpg;base64,<%= img.toString('base64')%>" width="400" height="400">        
</div> 
  </body>
</html>
