<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <h1><%= title %></h1>
    <a href="/">Back to menu</a>
  </body>
</html>
