<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <div class="container">
        <h2 align = "center">search course</h2>
        <form class ="" action="" method="post">
            <div class="form-group">
                <label for="">course_name</label>
                <input type="text" name="course_name" value="" class="form-control">
                <label for="">tutor_name</label>
                <input type="text" name="tutor_name" value="" class="form-control">
                <label for="">subject</label>
                <input type="text" name="subject" value="" class="form-control">
                <label for="">minprice</label>
                <input type="text" name="minprice" value="" class="form-control">
                <label for="">maxprice</label>
                <input type="text" name="maxprice" value="" class="form-control">
            </div>
            <input type="submit" name="" value="search" class="btn btn-primary">
        </form>
    </div>
  </body>
</html>