<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <div class="container">
        <h2 align = "center">หาบทความ</h2>
        <form class ="" action="" method="post">
            <div class="form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" name="searchname" value="" class="form-control">
            </div>
            <input type="submit" name="" value="search" class="btn btn-primary">
        </form>
    </div>
  </body>
</html>