<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <h1>Show all blog</h1>
    <% if(locals.param){ %>
        <% Object.values(param).forEach(function(result){ %>
          <label for="">name</label>
          <input type="text" name="Blog Name" value="<%= result.name %>" class="form-control">
          <label for="">description</label>
          <input type="text" name="Description" value="<%= result.description %>" class="form-control">
          <label for="">author</label>
          <input type="text" name="Author" value="<%= result.author %>" class="form-control">
        <% }) %>
    <% } %>
    <a href="/">Back to menu</a>
  </body>
</html>