<!DOCTYPE html>
<html>
  <head>
    <script>
      function validateForm() {
        var x = document.forms["verification_form"]["code"].value;
        if (x == '1') {
          alert("Name must be filled out");
          return false;
        }
      }
    </script>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include layout %>
    <div class="container">
        <form class ="verification_form" action="" onsubmit="return validateForm()" method="post">
            <div class="form-group">
                <label for="">Verification Code</label>
                <input type="text" name="code" value="" class="form-control">
            </div>
            <input type="submit" name="" value="บันทึก" class="btn btn-primary">
        </form>
    </div>
  </body>
</html>